* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --primary: #172b4d;
  --h-color: #3a4a42;
  --secondary: #36b37e;
  --secondary-btn: #36b37f;
  --weight: bold;
  --background: #ebf0ee;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.h2-size {
  color: var(--primary);
  font-size: 40px;
  font-weight: var(--weight);
  line-height: 52px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.main-header {
  justify-content: space-between;
  width: 100%;
  min-width: 375px;
  height: calc(48px + 10px);
  padding: 24px;
}

nav .menu-btn {
  width: 22px;
  height: 16px;
  font-weight: var(--weight);
}

main {
  max-width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

.main-section {
  min-width: 327px;
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  padding: 64px 24px 0;
}

.main-section-title h1 {
  color: var(--primary);
  font-size: 44px;
  font-weight: var(--weight);
  line-height: 54px;
}

.main-section-title h2 {
  color: var(--secondary);
}

.main-section p {
  margin: 58px 0 60px;
  color: var(--primary);
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons li {
  padding: 1px 20px;
}

.scroll-down-icon {
  margin: 64px 1px 22px;
}

.works-section {
  text-align: center;
  flex-flow: column nowrap;
  padding-left: 24px;
  padding-right: 24px;
}

.works-section-title h2 {
  max-width: 70%;
  margin: 0 auto;
}

.works-section-title h2::after {
  content: " ";
  display: block;
  max-width: 48px;
  height: 4px;
  margin: 24px auto 62px;
  background-color: var(--secondary);
}

.card-container {
  display: grid;
  width: 100%;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(474px, auto);
}

.card-container .card {
  min-width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  justify-self: center;
  align-items: center;
  flex-flow: column nowrap;
}

.card h3 {
  padding: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card img {
  background: var(--background);
  height: 252px;
  min-width: 100%;
}

.card ul,
.cards ul {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.card .program-lang li {
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 4px;
  color: #3a4a42;
  background: var(--background);
}

.card button {
  margin: 29px 0 24px;
  height: 48px;
  width: 122px;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-btn);
}

button:hover {
  background-color: var(--secondary-btn);
  box-shadow: 10px 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background-color: #008552;
}

.about-section {
  padding-bottom: 59px;
}

.about-section .about {
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-image: url("../images/Group\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  padding-top: calc(68px + 15px);
  padding-bottom: 15px;
}

.about h2 {
  min-width: 99%;
  margin: 0 auto;
  padding-bottom: 48px;
}

.about p {
  min-width: 351px;
  width: 80%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #42526e;
  padding: 0 28px 24px;
}

.about button,
.contact-form-section button {
  height: 48px;
  width: 159px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-btn);
  letter-spacing: 0.03em;
  padding: 12px;
  margin-bottom: 10px;
}

.about button:active {
  background-color: #008552;
}

.card-wrapper {
  margin-top: 39px;
  display: grid;
  width: auto;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 352px;
  padding-left: 24px;
  padding-right: 24px;
}

.card-wrapper .cards {
  width: 327px;
  height: 352px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  justify-self: center;
  flex-direction: column;
  background: var(--background);
}

.cards .tools-img {
  width: 140px;
  min-height: 140px;
}

.cards h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #344563;
  margin-bottom: 24px;
}

.cards .languages li {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 12px;
  margin: 4px;
  color: var(--secondary);
  background: #fff;
  border-radius: 8px;
}

section.contact-form-section {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-image: url("../images/illustration-contact-form@2x.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right 98%;
}

.form-sub-container {
  width: 80%;
}

.contact-form-section h2 {
  width: 100%;
  padding: 0 0 58px;
}

.contact-form-section input {
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
}

.contact-form-section textarea {
  margin-bottom: 24px;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}

.icons-container .social-media-icons {
  margin: 46px 0 19px;
}

footer .mail-container {
  text-align: center;
  margin-bottom: 147px;
}

footer .mail-container a {
  margin: 3em 0 147px;
  color: #42526e;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.4px;
}

footer::after {
  content: " ";
  display: block;
  width: 128px;
  height: 5px;
  border-radius: 2px;
  margin: 0 auto 10px;
  background: var(--primary);
}
