@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --primary: #172b4d;
  --h-color: #3a4a42;
  --secondary: #36b37e;
  --secondary-btn: #36b37f;
  --weight: bold;
  --background: #ebf0ee;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.h2-size {
  color: var(--primary);
  font-size: 40px;
  font-weight: var(--weight);
  line-height: 52px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}

nav .nav-menu {
  display: none;
}

nav .menu-btn {
  width: 22px;
  height: 16px;
  font-weight: var(--weight);
}

main {
  max-width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

.main-section {
  background-image: url("../images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 64px 24px 0;
}

.main-section-title h2 {
  color: var(--secondary);
}

.main-section p {
  max-width: 90%;
  margin: 58px auto 60px;
  color: var(--primary);
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons li {
  padding: 0 20px;
}

.scroll-down-icon {
  margin: 64px 0 22px;
}

.works-section {
  text-align: center;
  flex-flow: column nowrap;
  padding-left: 24px;
  padding-right: 24px;
}

.works-section-title h2 {
  max-width: 70%;
  margin: 0 auto;
}

.works-section-title h2::after {
  content: " ";
  display: block;
  max-width: 48px;
  height: 4px;
  margin: 24px auto 62px;
  background-color: var(--secondary);
}

.card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  grid-auto-rows: 474px;
  text-align: center;
}

.card-container .card {
  width: 327px;
  max-height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  justify-self: center;
  align-items: center;
  flex-flow: column nowrap;
}

.card h3 {
  padding: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card img {
  background: var(--background);
  height: 250px;
  min-width: 100%;
}

.card ul,
.cards ul {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.card .program-lang li {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 4px;
  color: #3a4a42;
  background: var(--background);
}

.card button {
  margin: 24px 0 20px;
  height: 48px;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-btn);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-btn);
  box-shadow: 10px 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background-color: #008552;
}

.about-section {
  background: url("../images/illustration\ 2-about\ me\ mobile@2x.png") left 21% no-repeat, url("../images/illustration\ 1-\ about\ me-mobile@2x.png")  right 2%  no-repeat;
  background-size: 13%;
  padding-bottom: 60px;
}

.about-section .about {
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: calc(68px + 15px) 24px 15px;
}

.about h2 {
  margin: 0 auto;
  padding-bottom: 24px;
}

.about p {
  width: 90%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #42526e;
  padding-bottom: 24px;
}

.about button,
.contact-form-section button {
  height: 48px;
  width: 159px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-btn);
  letter-spacing: 0.03em;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.about button:active {
  background-color: #008552;
}

.card-wrapper {
  width: 100%;
  margin-top: 39px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 352px;
  text-align: center;
}

.card-wrapper .cards {
  width: 327px;
  height: 352px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  justify-self: center;
  flex-direction: column;
  background: var(--background);
}

.cards .tools-img {
  width: 140px;
  min-height: 140px;
}

.cards h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #344563;
  margin-bottom: 24px;
}

.cards .languages li {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 12px;
  margin: 4px;
  color: var(--secondary);
  background: #fff;
  border-radius: 8px;
}

section.contact-form-section {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-image: url("../images/illustration-contact-form@2x.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right 98%;
}

.form-sub-container {
  min-width: 307px;
  width: 80%;
}

.contact-form-section h2 {
  width: 100%;
  padding: 0 0 58px;
}

.contact-form-section input {
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  font-size: 16px;
}

.contact-form-section textarea {
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border: none;
  border: 1.3px solid #60c095;
  outline: none;
}

.footer-icons {
  width: 100%;
  padding: 46px 0 19px;
}

footer .mail-container {
  text-align: center;
  margin-bottom: 147px;
}

footer .mail-container a {
  margin: 3em 0 147px;
  color: #42526e;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.4px;
}

footer::after {
  content: " ";
  display: block;
  width: 128px;
  height: 5px;
  border-radius: 2px;
  margin: 0 auto 10px;
  background: var(--primary);
}

@media screen and (min-width: 640px) {
  .main-section-title h1,
  .main-section-title h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.4px;
  }

  .main-section p {
    max-width: 900px;
    letter-spacing: 0.8px;
  }

  .card-container .card,
  .card-wrapper .cards {
    width: 369px;
  }

  .card-wrapper {
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
  }

  header h2,
  nav .menu-btn {
    display: none;
  }

  nav .nav-menu {
    display: flex;
    justify-self: center;
  }

  .nav-menu li a {
    display: flex;
    justify-self: center;
    padding: 5px 15px;
    margin: 3px;
    font-size: 16px;
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }

  main {
    position: relative;
    padding-bottom: 58px;
  }

  .main-section {
    padding-top: 170px;
    margin-top: 32px;
    background-image: none;
    background-image: url("../images/Header-llustration-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .main-section p {
    width: 70%;
    margin: 24px auto 44px;
  }

  .social-media-icons li {
    padding: 0 20px;
  }

  .works-section-title h2 {
    padding: 40px 0 32px;
  }

  .works-section-title h2::after {
    display: none;
  }

  .scroll-down-icon {
    margin: 64px 0 245px;
  }

  .card-container,
  .card-wrapper {
    width: calc(654px + 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin: 0 auto;
    text-align: center;
  }

  .card-container .card,
  .card-wrapper .cards {
    width: 327px;
    align-self: center;
    justify-self: center;
  }

  .card-wrapper .cards:last-child {
    grid-column: 1/span 2;
  }

  .about p {
    width: calc(654px + 24px);
  }

  .form-sub-container {
    width: calc(654px + 24px);
  }

  footer {
    display: none;
  }

  .footer-icons ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    border-top: 1px solid #dfe1e6;
  }

  .footer-icons ul li {
    padding: 0 12px;
  }
}

@media screen and (min-width: 992px) {
  .card-container,
  .card-wrapper {
    width: calc(738px + 24px);
  }

  .card-container .card,
  .card-wrapper .cards {
    width: 369px;
    max-height: 474px;
  }

  .about-section {
    background-image: none;
    background-image:
      url("../images/illustration-about-me-2-desktop@2x.png"),
      url("../images/illustration-about\ me-1-desktop@2x.png");
    background-position: left 17%, right 3%;
    background-size: 15%;
    background-repeat: no-repeat;
    padding-bottom: 164px;
  }

  .about-section .about {
    width: calc(738px + 24px);
    margin: 0 auto;
    padding-top: calc(68px + 15px);
    padding-bottom: 52px;
  }

  .about p {
    width: 100%;
  }

  section.contact-form-section {
    width: 100%;
    background-image: none;
    background-image:
      url("../images/illustration-1-contact-form-desktop@2x.png"),
      url("../images/illustration-2-contact-form-desktop@2x.png"),
      url("../images/contact\ form-illustratoin-3-desktop@2x.png");
    background-position:
      left bottom,
      30% bottom,
      right bottom;
    background-size: 14%;
    background-repeat: no-repeat;
  }

  .form-sub-container {
    width: calc(738px + 24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 490px;
  }

  .contact-form-section h2 {
    width: 39%;
    font-size: 30px;
    line-height: 48px;
  }

  .contact-form-section form {
    width: 58%;
  }
}

@media screen and (min-width: 1100px) {
  .card-container,
  .card-wrapper {
    width: calc(981px + 48px);
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .card-container .card,
  .card-wrapper .cards {
    width: 327px;
    margin: 0 auto;
  }

  .card-wrapper .cards:last-child {
    grid-column: 3/span 1;
  }

  .about-section .about {
    width: calc(981px + 48px);
  }

  .form-sub-container {
    width: calc(981px + 48px);
  }
}
